$bgd-light-color: #f4f4f4;
$bgd-dark-color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*utilities */
a {
  color: $bgd-dark-color;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 0.2rem;
}
.btn-dark {
  color: $bgd-light-color;
  background: #333;
  padding: 0.25rem 0.5rem;
  border: 1px solid #333;
  border-radius: 5px;
}
.btn-light {
  color: #333;
  background: $bgd-light-color;
  padding: 0.25rem 0.5rem;
  border: 1px solid #333;
  border-radius: 5px;
}
.btn-transparent {
  color: $bgd-light-color;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
}
nav {
  max-width: 70%;
  margin: 0 auto;
  align-items: center;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  .left-nav {
    display: flex;
    padding-left: 2rem;
  }

  .middle-nav {
    display: flex;
    padding: 0 2rem;
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 1rem;
      }
    }
  }
  .right-nav {
    display: flex;
    margin-left: auto;
    padding-right: 2rem;
    ul {
      display: flex;
      list-style: none;
    }
  }
}
